
.img-container {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin-bottom: 20px;
 
}
.image {
  width: 65vw;
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
 
  margin: 0 auto;
  overflow: hidden;
}


.img-container h4  {
  color: #FF7A00;
  margin: 0;
  padding: 10px;
  border-radius: 10px;
  background-color: black;
  font-size: 1.2rem;
  text-align: left;
    position: relative;  top: 260px;
  left: 15px;
margin-left: 20px;
  width: 70%;

}

.img-container .button{
  background-color: #FF7A00;
  color: white;
  position: relative;  top: 250px;
  left: 20px;
  margin-left: 20px;

  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
}
.button i {
  display: inline-block;       /* make transform work */
  margin-left: 5px;
  animation: slide-arrow .8s infinite alternate; /* smoother */
}

@keyframes slide-arrow {
  0% { transform: translateX(0px); }
  100% { transform: translateX(8px); }
}